<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="mesh_file" default="$(find final-project-OfficialBishal)/meshes/mustard_bottle/nontextured.ply" />
  <arg name="output_model" default="$(find final-project-OfficialBishal)/config/opencv_model_mustard_registered.yml" />
  <arg name="image_topic" default="/hsrb/head_rgbd_sensor/rgb/image_rect_color" />
  <arg name="camera_info_topic" default="/hsrb/head_rgbd_sensor/rgb/camera_info" />
  
  <!-- OpenCV Model Registration node -->
  <node name="opencv_model_registration" 
        pkg="final-project-OfficialBishal" 
        type="opencv_model_registration_node" 
        output="screen">
    <param name="mesh_file" value="$(arg mesh_file)" />
    <param name="output_model" value="$(arg output_model)" />
    <param name="image_topic" value="$(arg image_topic)" />
    <param name="camera_info_topic" value="$(arg camera_info_topic)" />
    <param name="num_keypoints" value="2000" />
    <param name="feature" value="ORB" />
  </node>
</launch>





